 /* label color */
 .input-field label {
    color: rgb(26, 26, 26);
  }

  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: rgb(255, 20, 20);
  }

    /* label underline focus color */
    .input-field input[type=text] {
        border-bottom: 1px solid rgb(56, 56, 56);
        box-shadow: 0 1px 0 0 rgb(51, 51, 51);
      }
  
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(53, 53, 53);
    box-shadow: 0 1px 0 0 rgb(51, 51, 51);
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid rgb(22, 22, 22);
    box-shadow: 0 1px 0 0 rgb(22, 22, 22);
  }

  .input-field input[type=text].invalid {
    border-bottom: 1px solid rgb(22, 22, 22);
    box-shadow: 0 1px 0 0 rgb(22, 22, 22);
  }

  /* icon prefix focus color */
  .input-field .prefix.active {
    color: rgb(22, 22, 22);
  }
      